In [90]:
#list
L=[]
type(L)

list

In [91]:
L1=[45,87,65,'sushant','kumar',458.854,(85+96j),True]

In [92]:
L1

[45, 87, 65, 'sushant', 'kumar', 458.854, (85+96j), True]

In [93]:
type(L1)

list

In [94]:
L1[4]

'kumar'

In [95]:
L1[-1::-1]

[True, (85+96j), 458.854, 'kumar', 'sushant', 65, 87, 45]

In [96]:
L1[-1::-2]

[True, 458.854, 'sushant', 87]

In [97]:
l2=[45,'sushi','pwskills',98.45,(99+45j)]

In [98]:
l2+L1

[45,
 'sushi',
 'pwskills',
 98.45,
 (99+45j),
 45,
 87,
 65,
 'sushant',
 'kumar',
 458.854,
 (85+96j),
 True]

In [99]:
l2*2

[45,
 'sushi',
 'pwskills',
 98.45,
 (99+45j),
 45,
 'sushi',
 'pwskills',
 98.45,
 (99+45j)]

In [100]:
l2+'rohit'

TypeError: can only concatenate list (not "str") to list

In [ ]:
l2

[45, 'sushi', 'pwskills', 98.45, (99+45j)]

In [ ]:
l2[3]='armaan'

In [ ]:
l2

[45, 'sushi', 'pwskills', 'armaan', (99+45j)]

In [ ]:
t1=('rohit',85,98,25,69.85,(85+6j),)

In [ ]:
type(t1)

tuple

In [ ]:
t1[4]

69.85

In [ ]:
t1[4]='hello'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t2=(85,25,45)

In [ ]:
t2+t2

(85, 25, 45, 85, 25, 45)

In [ ]:
t2+t1

(85, 25, 45, 'rohit', 85, 98, 25, 69.85, (85+6j))

In [ ]:
t1+t2

('rohit', 85, 98, 25, 69.85, (85+6j), 85, 25, 45)

In [ ]:
t2*2

(85, 25, 45, 85, 25, 45)

In [ ]:
len(t1)

6

In [ ]:
list(t2)

[85, 25, 45]

In [ ]:
s={'set',1254,854,(52+85j)}

In [ ]:
type(s)

set

In [ ]:
s2={85,85,98,87,98,35,53,65,65,45,85,78,625}

In [ ]:
s2

{35, 45, 53, 65, 78, 85, 87, 98, 625}

In [ ]:
s3={5,6,8,9,78.52,(52+65j),'sushant'}

In [ ]:
s3[1]

TypeError: 'set' object is not subscriptable

In [ ]:
s4={25,1,5,2,9,258,65,56,8554,987,625,98,98,987,625,2584,2584,'sushi','Sushi','Sushi'}

In [ ]:
s4

{1, 2, 25, 258, 2584, 5, 56, 625, 65, 8554, 9, 98, 987, 'Sushi', 'sushi'}

In [ ]:
d={}

In [ ]:
type(d)

dict

In [ ]:
type(s4)

set

In [ ]:
d1={'name':'sushant','mobile':9572613900,'course':'fsdspro','status':'Active'}

In [ ]:
d1

{'name': 'sushant',
 'mobile': 9572613900,
 'course': 'fsdspro',
 'status': 'Active'}

In [ ]:
d5={458:"sushi"}

In [ ]:
d6={(45,85,98):"rohit"}

In [ ]:
d7={[1,5,1,58]:"hello"}

TypeError: unhashable type: 'list'

In [ ]:
d8={{45,1,4,58,142,5}:"sexy lag rha hai"}

TypeError: unhashable type: 'set'

In [ ]:
'''except list,set,special characters other datatypes can be dumped as key and any dtatatype can be dumped as value'''

'except list,set,special characters other datatypes can be dumped as key and any dtatatype can be dumped as value'

In [ ]:
d9={'course':['dsa','fsdspro','webdev'],'mentor':('rohit','sudhu','sunny','ajay'),'price':{40000,30000,25000},'duration':'1 year for all','access':2}

In [ ]:
d9

{'course': ['dsa', 'fsdspro', 'webdev'],
 'mentor': ('rohit', 'sudhu', 'sunny', 'ajay'),
 'price': {25000, 30000, 40000},
 'duration': '1 year for all',
 'access': 2}

In [ ]:
d9['mentor']

('rohit', 'sudhu', 'sunny', 'ajay')

In [ ]:
d10={'course':['dsa','fsdspro','webdev'],'mentor':('rohit','sudhu','sunny','ajay'),'price':{40000,30000,25000},'duration':'1 year for all','access':2,'syllabus':{'python':['core','oops','pandas','numpy','db','mongodb'],'ml':{'supervised','unsupervised','semisupervised'}}}

In [ ]:
d10

{'course': ['dsa', 'fsdspro', 'webdev'],
 'mentor': ('rohit', 'sudhu', 'sunny', 'ajay'),
 'price': {25000, 30000, 40000},
 'duration': '1 year for all',
 'access': 2,
 'syllabus': {'python': ['core', 'oops', 'pandas', 'numpy', 'db', 'mongodb'],
  'ml': {'semisupervised', 'supervised', 'unsupervised'}}}

In [ ]:
D1={'hello':'rohit'}

In [ ]:
D1['phone']='9572684855'

In [ ]:
D1

{'hello': 'rohit', 'phone': '9572684855'}

In [ ]:
#dictionary is mutable entity

In [ ]:
#key is always a unique entity in dictionary

In [ ]:
#inbuilt functions

In [ ]:
s1='pwskills'

In [ ]:
s1.count('l')

2

In [ ]:
s1.find('s')

2

In [ ]:
#count=number of occurances
#find=return the lowest index of a similar data

In [ ]:
s1.index('s')

2

In [ ]:
s1.find('z')

-1

In [ ]:
s1.index('z')

ValueError: substring not found

In [ ]:
s1.upper()

'PWSKILLS'

In [ ]:
s1.lower()

'pwskills'

In [ ]:
s2='my name is sushant'

In [ ]:
s2.title()

'My Name Is Sushant'

In [ ]:
s2.split()

['my', 'name', 'is', 'sushant']

In [ ]:
s3='my name, is ,sushant kumar'

In [ ]:
s3.split()

['my', 'name,', 'is', ',sushant', 'kumar']

In [ ]:
s3.split(',')

['my name', ' is ', 'sushant kumar']

In [ ]:
s3.split('s')

['my name, i', ' ,', 'u', 'hant kumar']

In [ ]:
s3.capitalize()

'My name, is ,sushant kumar'

In [ ]:
s2.capitalize()

'My name is sushant'

In [ ]:
s2.replace('s','k')

'my name ik kukhant'

In [ ]:
s1.trim()

AttributeError: 'str' object has no attribute 'trim'

In [ ]:
s4="   pwskills    "

In [ ]:
s4.rstrip()

'   pwskills'

In [ ]:
s4.lstrip()

'pwskills    '

In [ ]:
s1.isalnum()

True

In [ ]:
s1.isalpha()

True

In [ ]:
s1.isnumeric()

False

In [101]:
l1

NameError: name 'l1' is not defined

In [102]:
l1=[45,52,58,65,741,5585,'sushant',(45474.255j)]

In [103]:
l1.append('sushi')

In [104]:
l1

[45, 52, 58, 65, 741, 5585, 'sushant', 45474.255j, 'sushi']

In [105]:
s1.isupper()

False

In [107]:
s1.islower()

True

In [108]:
l1.insert(4,'iloveyou')

In [109]:
l1

[45, 52, 58, 65, 'iloveyou', 741, 5585, 'sushant', 45474.255j, 'sushi']

In [110]:
l1.extend('rahul')

In [111]:
l1

[45,
 52,
 58,
 65,
 'iloveyou',
 741,
 5585,
 'sushant',
 45474.255j,
 'sushi',
 'r',
 'a',
 'h',
 'u',
 'l']

In [112]:
#extend is split the data internally and then appending the data

In [113]:
l2.extend(4,['rohit'])

TypeError: list.extend() takes exactly one argument (2 given)

In [114]:
l1.pop()

'l'

In [115]:
l1

[45,
 52,
 58,
 65,
 'iloveyou',
 741,
 5585,
 'sushant',
 45474.255j,
 'sushi',
 'r',
 'a',
 'h',
 'u']

In [117]:
l1.pop(5)

741

In [118]:
l1

[45,
 52,
 58,
 65,
 'iloveyou',
 5585,
 'sushant',
 45474.255j,
 'sushi',
 'r',
 'a',
 'h',
 'u']

In [120]:
del s2

In [121]:
s2

NameError: name 's2' is not defined

In [122]:
l1.remove('r')

In [123]:
l1

[45,
 52,
 58,
 65,
 'iloveyou',
 5585,
 'sushant',
 45474.255j,
 'sushi',
 'a',
 'h',
 'u']

In [124]:
l2.pop(250)

IndexError: pop index out of range

In [125]:
l2.count()

TypeError: list.count() takes exactly one argument (0 given)

In [128]:
l1.count('s')

0

In [129]:
l1.reverse()

In [130]:
l1.sort()

TypeError: '<' not supported between instances of 'complex' and 'str'

In [131]:
l4=str(l1)

In [132]:
l4.sort()

AttributeError: 'str' object has no attribute 'sort'

In [133]:
l4

"['a', 'h', 'sushi', 'u', 45474.255j, 'sushant', 5585, 'iloveyou', 65, 58, 52, 45]"

In [134]:
l1.copy()

['a',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [135]:
l1

['a',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [136]:
l2=l1

In [137]:
l2

['a',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [138]:
l1[0]='hey'

In [139]:
l1

['hey',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [140]:
l2

['hey',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [141]:
l2[0]='dumb'

In [142]:
l1

['dumb',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [143]:
l3=l2

In [144]:
l3

['dumb',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [145]:
l3=l1.copy()

In [146]:
l1[0]='sexy'

In [147]:
l2

['sexy',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [148]:
l1

['sexy',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [149]:
l3

['dumb',
 'h',
 'sushi',
 'u',
 45474.255j,
 'sushant',
 5585,
 'iloveyou',
 65,
 58,
 52,
 45]

In [150]:
t1

NameError: name 't1' is not defined

In [151]:
t1=(45,25,23,581,22,4,6558,'rohit')

In [153]:
t1.count(45)

1

In [154]:
t1.index(45)

0

In [155]:
s1

'pwskills'

In [163]:
s={'rohit',45,25,(45+65j)}

In [164]:
s.add(234)

In [165]:
s

{(45+65j), 234, 25, 45, 'rohit'}

In [166]:
s.clear()

In [167]:
s

set()

In [169]:
d1

{'name': 'sushant',
 'mobile': 9572613900,
 'course': 'fsdspro',
 'status': 'Active'}

In [170]:
d1.keys()

dict_keys(['name', 'mobile', 'course', 'status'])

In [171]:
d1.values()

dict_values(['sushant', 9572613900, 'fsdspro', 'Active'])

In [172]:
list(d1.keys())

['name', 'mobile', 'course', 'status']

In [173]:
list(d1.values())

['sushant', 9572613900, 'fsdspro', 'Active']

In [174]:
d1.items()

dict_items([('name', 'sushant'), ('mobile', 9572613900), ('course', 'fsdspro'), ('status', 'Active')])

In [175]:
d1.get('name')

'sushant'

In [176]:
d2

NameError: name 'd2' is not defined

In [177]:
d3

NameError: name 'd3' is not defined

In [178]:
d10

{'course': ['dsa', 'fsdspro', 'webdev'],
 'mentor': ('rohit', 'sudhu', 'sunny', 'ajay'),
 'price': {25000, 30000, 40000},
 'duration': '1 year for all',
 'access': 2,
 'syllabus': {'python': ['core', 'oops', 'pandas', 'numpy', 'db', 'mongodb'],
  'ml': {'semisupervised', 'supervised', 'unsupervised'}}}

In [179]:
d10.get('price')

{25000, 30000, 40000}

In [181]:
#add to dictionary
d10['passing%']='60%'

In [182]:
d10

{'course': ['dsa', 'fsdspro', 'webdev'],
 'mentor': ('rohit', 'sudhu', 'sunny', 'ajay'),
 'price': {25000, 30000, 40000},
 'duration': '1 year for all',
 'access': 2,
 'syllabus': {'python': ['core', 'oops', 'pandas', 'numpy', 'db', 'mongodb'],
  'ml': {'semisupervised', 'supervised', 'unsupervised'}},
 'passing%': '60%'}

In [184]:
d10.__contains__('price')

True